<!DOCTYPE html>
<html>
<head>
  <title>Transactionable</title>
  <%= stylesheet_link_tag    "transactionable/application", media: "all" %>
  <%= javascript_include_tag "transactionable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
